#fix-tbc-form #edit-caption {
    width: 99% !important;
}
#fix-tbc-form .well {
    margin-top: 25px;
    width: 620px;
    overflow-x: auto;
}
/*#fix-tbc-form #edit-example {
    height: 250px;
}*/
#fix-tbc-page #updating,
#fix-tbc-page #done {
    display: none;
    position: fixed;                                                            
    z-index: 2000;                                                              
    left: 55%;                                                                  
    top: 45%;                                                                   
    padding: 5px 10px;                                                          
    -webkit-border-radius: 5px;                                                 
       -moz-border-radius: 5px;                                                 
         -o-border-radius: 5px;                                                 
            border-radius: 5px;                                                 
    -webkit-box-shadow: 0px 0px 10px #cccccc;                                   
       -moz-box-shadow: 0px 0px 10px #cccccc;                                   
          -obox-shadow: 0px 0px 10px #cccccc;                                   
            box-shadow: 0px 0px 10px #cccccc; 
}
#fix-tbc-page #updating {
    background: #FF851B;
}
#fix-tbc-page #done {
    background: #2ECC40;
}
textarea#edit-code {
    height: 300px;
    width: 650px;
}
.orange {
    background: #FF9933 !important;
}
.sync-msg {
    font-size: .8em;
}
.messages.success {
    background: lightgreen;
}
